* {
    margin: 0;
    padding: 0;
}
::-ms-clear{display: none;}
::-ms-reveal{display: none;}
body {
    font-family: 微软雅黑;
    width: 100%;
    height: 100%;
}

.login-area {
    margin: 0 auto;
    width: 430px;
    height: 450px;
    margin-top: 50px;
}

.login-area .common {
    font-family: 微软雅黑;
    position: relative;

}

.login-area .input {
    top: 100px;
    height: 35px;
    width: 70%;
    padding: 5px 5px 5px 10px;
    margin: 0 12%;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    outline: none;
}
.login-area .input_on{
    border-color:#00BBFF;
}


.login-area .psw-height {
    top: 110px;
}

.login-area .login-btn {
    top: 170px;
    left: 60px;
    background: #3090e7;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 1em;
}

.login-area .title {
    font-family: 微软雅黑;
    color: #3090e7;
    position: relative;
    top: 70px;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
}

.login-area .title span {
    border-bottom: 1px solid #3090e7;
    width: 40px;
    height: 0;
    display: inline-block;
    margin: 0 10px 5px;
}



/*键盘核心CSS*/
#keyboard {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    width: 500px;
    height: 240px;
    display: none;
	/*overflow:hidden;*/
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#keyboard .title {
    width: 100%;
    height: 20%;
    padding: 0;
}
#keyboard .title .jptitle{
    font-size:1em;
}
#keyboard .jpskin{
    float: left;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
}
#keyboard .jpskin:hover .jpskin-box{
    display: block;
}
#keyboard .jpskin .jpskin-box{
    display: none;
    position: absolute;
    width: 80px;
    left: -81px;
    top: 0px;
    border-radius: 5px;
}
#keyboard .jpskin .jpskin-box .span{
    position: absolute;
    width: 10px;
    height: 10px;
    right: -6px;
    top: 20px;
    transform: rotate(45deg);
}
#keyboard .jpskin .jpskin-box ul{
    list-style: none;
    position: relative;
    z-index: 2;
    background: #ffffff;
}
#keyboard .keyboard_hide{
    width: 40px;
    float: right;
    font-size: 24px;
    cursor: pointer;
}
#xfkb {
    width: 100%;
    height: 80%;
}
.keyboard td {
    width: 10%;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}


/*键盘皮肤CSS*/
#keyboard.skin1 {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #dcdddd;
}
#keyboard.skin1 .title{
    border-bottom: 1px solid #dcdddd;
}
.skin1 .keyboard {
    border-spacing:0;
}

.skin1 .keyboard td {
    color: #333333;
    border-bottom: 1px solid #dcdddd;
    border-left: 1px solid #dcdddd;
}
.skin1 .keyboard tr td:first-child {
    border-left: none;
}

.skin1 .keyboard tr:last-child td {
    border-bottom: none;
}
.skin1 .keyboard td:active {
    -moz-box-shadow:0px 0px 10px #AAAAAA inset;
    -webkit-box-shadow:0px 0px 10px #AAAAAA inset;
    box-shadow:0px 0px 10px #AAAAAA inset;
}
.skin1 .jpskin .jpskin-box{
    background: #ffffff;
    border: 1px solid #dcdddd;
    border-radius: 5px;
}
.skin1 .jpskin .jpskin-box .span{
    background: #fff;
    border-top: 1px solid #dcdddd;
    border-right: 1px solid #dcdddd;
}
.skin1 .jpskin .jpskin-box li{
    border-bottom: 1px solid #dcdddd;
}
.skin1 .jpskin .jpskin-box li:last-child{
    border-bottom: none;
}
.skin1 .jpskin .jpskin-box li:hover {
    -moz-box-shadow:0px 0px 10px #AAAAAA inset;
    -webkit-box-shadow:0px 0px 10px #AAAAAA inset;
    box-shadow:0px 0px 10px #AAAAAA inset;
}


#keyboard.skin2 {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#keyboard.skin2 .title{
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.skin2 .keyboard {
    border-spacing:5px;
}

.skin2 .keyboard td {
    color: #333333;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.8);
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.skin2 .keyboard td:active {
    -moz-box-shadow:0px 0px 10px #ddd inset;
    -webkit-box-shadow:0px 0px 10px #ddd inset;
    box-shadow:0px 0px 10px #ddd inset;
}
.skin2 .jpskin .jpskin-box{
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}
.skin2 .jpskin .jpskin-box .span{
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
}
.skin2 .jpskin .jpskin-box li{
    width: 58px;
    margin: 10px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.skin2 .jpskin .jpskin-box li:hover{
    -moz-box-shadow:0px 0px 10px #ddd inset;
    -webkit-box-shadow:0px 0px 10px #ddd inset;
    box-shadow:0px 0px 10px #ddd inset;
}